.heading{
    background-color: rgb(92, 193, 92);
    color: white;
    padding: 5%;
}
.body{
    margin: 5%;
    padding: 4px;
    display: block;
}
button{
    background-color: aquamarine;
    padding: 8px;
    margin: 8px;
    position: relative;
    left: 60px;
    font-size: 20px;
    border-radius: 10px;
}
body{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
p{
    padding: 10px;
    margin: 8px;
}  